In [2]:
from sklearn import linear_model
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
matplotlib.style.use('ggplot')

In [78]:
data = {'x1' : [45, 46, 43, 44, 47, 48.5],  
       'x2' : [175, 170, 165.5, 155, 170, 180],
        'x3' : [8000, 8560,8020 , 8421, 7500, 9500],
       'y' : [65, 67, 68, 55, 60, 81]}
# data 변수 안에 dictionary형태의 x1, x2, y key 이름을 가진 데이터를 생성한다.

data = pd.DataFrame(data)                 
# data변수 안에 저장된 데이터를 pandas.DataFrame 함수를 통해 2차원의 수정 가능한 테이블 형태의 구조로 변경 후 data 변수에 저장

X = data[['x1', 'x2','x3']]                   
# 독립변수들을 따로 변수에 저장. "data"데이터 프레임 안에 독립변수 "x1"과 "x2"를 "X"라는 변수에 저장.

y = data['y']

data

     x1     x2    x3   y
0  45.0  175.0  8000  65
1  46.0  170.0  8560  67
2  43.0  165.5  8020  68
3  44.0  155.0  8421  55
4  47.0  170.0  7500  60
5  48.5  180.0  9500  81

In [79]:
linear_regression = linear_model.LinearRegression()
linear_regression.fit(X = pd.DataFrame(X), y = y)
prediction = linear_regression.predict(X = pd.DataFrame(X))
a = linear_regression.intercept_
b = linear_regression.coef_
print('a value = ', linear_regression.intercept_)
print('b value = ', linear_regression.coef_)

a value =  -77.34986130494858
b value =  [-1.32559644  0.8392744   0.00740718]

In [96]:
print(X)
predict_value = []
for i in range(len(X)):
    value = a+(X['x1'][i]*b[0])+(X['x2'][i]*b[1])+(X['x3'][i]*b[2])
    predict_value.append(round(value,4))

for i in range(len(predict_value)):
    print("predict value :",predict_value[i], " estimate value :", y[i])

     x1     x2    x3
0  45.0  175.0  8000
1  46.0  170.0  8560
2  43.0  165.5  8020
3  44.0  155.0  8421
4  47.0  170.0  7500
5  48.5  180.0  9500
predict value : 69.1288  estimate value : 65
predict value : 67.7549  estimate value : 67
predict value : 63.955  estimate value : 68
predict value : 56.7873  estimate value : 55
predict value : 58.5776  estimate value : 60
predict value : 79.7964  estimate value : 81

In [59]:
residuals = y-prediction
residuals.describe()

count    6.000000e+00
mean    -4.736952e-15
std      2.851140e+00
min     -4.128796e+00
25%     -1.529210e+00
50%      2.243955e-01
75%      1.367681e+00
max      4.044974e+00
Name: y, dtype: float64

In [60]:
SSE = (residuals**2).sum()
SST = ((y-y.mean())**2).sum()
R_squared = 1 - (SSE/SST)
print('R_squared = ', R_squared)

R_squared =  0.8952448832587389

In [27]:
from sklearn.metrics import mean_squared_error
print('score = ', linear_regression.score(X =pd.DataFrame(X), y=y))
print('Mean_Squared_Error = ', mean_squared_error(prediction, y))
print('RMSE = ', mean_squared_error(prediction, y)**0.5)

score =  0.8952448832587389
Mean_Squared_Error =  6.774164215934886
RMSE =  2.6027224623334093